/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none
}

img{
    display: block
}

/* font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    font-family:, sans-serif;
}

/* debug */
.view{
    height: 100vh;
}

/* utility */
.flex{
    display: flex;
}

.ai-center{
    align-items: center;
}

.fe-right{
    justify-content: flex-end;
}

.w-80{
    width: 80%;
    margin: auto;
}

.wrap{
    flex-wrap: wrap;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

/* header */
header{
    background-color: black;
    color: white;
    height: 8%;
}

.box{
    background-color: rgb(74, 74, 74);
    padding: 5px 5px;
    border-radius: 12%;
    margin-left: 6px;
}

/* main */
main{
    background-color: black;
    height: 84%;
}

.container{
    justify-content: space-between;
    overflow: auto;
}

.user > img{
    width: 300px;
    height: 200px;
}

.name{
    color: white;
}

.b-left{
    bottom: 0.5%;
    background-color: rgba(74, 74, 74, 0.9);
}

/* footer */
footer{
    background-color: rgb(34, 34, 34);
    color: white;
    justify-content: space-between;
    text-align: center;
    height: 8%;
}

li{
    margin-left: 20px;
    font-size: 15px;
    align-items: center;
}

.marginleft4{
    margin-left: 4px;
}

.nomarginleft{
    margin-left: 0;
}

.green{
    color: green;
}

.close{
    color: red;
    padding: 25px;
    background-color: rgb(74, 74, 74)
}